<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manage.dao.UserinfoMapper" >
  <resultMap id="BaseResultMap" type="manage.model.Userinfo" >
    <id column="usernumber" property="usernumber" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="phonenumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="depnumber" property="depnumber" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="entrytime" property="entrytime" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    usernumber, name, sex, birthday, phonenumber, email, education, depnumber, position, 
    entrytime, status, comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where usernumber = #{usernumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from userinfo
    where usernumber = #{usernumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="manage.model.Userinfo" >
    insert into userinfo (usernumber, name, sex, 
      birthday, phonenumber, email, 
      education, depnumber, position, 
      entrytime, status, comment
      )
    values (#{usernumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{phonenumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{depnumber,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{entrytime,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="manage.model.Userinfo" >
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usernumber != null" >
        usernumber,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="phonenumber != null" >
        phonenumber,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="depnumber != null" >
        depnumber,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="entrytime != null" >
        entrytime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usernumber != null" >
        #{usernumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="depnumber != null" >
        #{depnumber,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="entrytime != null" >
        #{entrytime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="manage.model.Userinfo" >
    update userinfo
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="phonenumber != null" >
        phonenumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="depnumber != null" >
        depnumber = #{depnumber,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="entrytime != null" >
        entrytime = #{entrytime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where usernumber = #{usernumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="manage.model.Userinfo" >
    update userinfo
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      phonenumber = #{phonenumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      depnumber = #{depnumber,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      entrytime = #{entrytime,jdbcType=DATE},
      status = #{status,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where usernumber = #{usernumber,jdbcType=VARCHAR}
  </update>
  <select id="selectAllListPage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userinfo 
     order by usernumber 
  </select>
</mapper>